* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#root {
    /* background-color: #f1d3ff; */
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.App {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.block {
    margin: auto 5% auto 25%;
    width: 70%;
}

.title {
    font: 600 34px/1 Arial;
    text-align: center;
    margin: 0px 30px 50px;
}

.block__given {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 520px;
}

.information {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font: 18px/1.5 Arial;
}

.elem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__value {
    display: flex;
    align-items: center;
}

.text__input {
    outline: none;
    width: 80px;
    font: 18px/1.5 Arial;
    border: none;
}

.elem_conv .input__elem {
    width: 160px;
}

.text__select {
    outline: none;
    padding: 3px;
    border: none;
    border-radius: 5px;
    font: 18px/1.5 Arial;
}

.input__elem {
    width: 100px;
    padding: 3px 10px;
    margin: 5px;
    border: 2px solid #9f01e8;
    border-radius: 10px;
    display: flex;

}

.image {
    width: 80%;
}

.block__resolve {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resolve {
    width: 100%;
}

.resolve__title {
    font: 600 24px/1.5 Arial;
}

.button {
    color: #fff;
    background: linear-gradient(45deg, #534fa6, #a45deb);
    box-shadow: 0px 0px 15px 0px #a45deb;
    border: none;
    border-radius: 20px;
    padding: 5px 0px;
    font: 20px/1.5 Arial;
}

.menu{
    padding: 0px 30px;
    left: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(45deg, #534fa6, #a45deb);
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__item {
    color: #fff;
    font: 16px/1.5 Arial;
}

.menu__item:hover {
    text-decoration: underline;
}

.menu__item:active {
    color: #dfc0ff;
}

.converter {
    margin-bottom: 30px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media (max-width: 1536) {
    .text {
        font: 14px/1.5 Arial;
    }
}